{% extends "base.html" %}

{% block title %}Mis Hospitales{% endblock %}

{% block content %}
    <div class="section">
        <h1>Actualizat Hospital</h1>
        <form action="/actualizar-hospital/actualizar" method="post">
            <input type="text" name="nombre_actual" placeholder="Nombre hospital" required>
            <input type="text" name="numero_pacientes_nuevo" placeholder="Numero nuevo de pacientes" required>
            <button type="submit">Actualizar</button>
        </form>
    </div>
{% endblock %}