<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Plantilla{% endblock %}</title>
     {% block css %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
  <h3>Menú</h3>
  <nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Ver Hospitales</a></li>
        <li><a href="{{ url_for('añadirhospital') }}">Añadir Hospitales</a></li>
        <li><a href="{{ url_for('actualizarhospital') }}">Actualizar Hospitales</a></li>
        <li><a href="{{ url_for('borrarhospital') }}">Borrar Hospitales</a></li>
    </ul>
  </nav>
  {% block content %}
  
  {% endblock %}
  
  {% block footer %}
  {% endblock %}
   
</body>
</html>
</html>